<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Permissions for internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.GALLERY_REQUEST_CODE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logoaida"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/logoaida"
        android:supportsRtl="true"
        android:theme="@style/NoActionBar"
        android:usesCleartextTraffic="true"
        tools:replace="android:theme">
        <activity
            android:name=".toko.kelolaToko"
            android:exported="false" />
        <activity
            android:name=".toko.toko"
            android:exported="false" />
        <activity
            android:name=".laporan.pembelian.laporanPembelian"
            android:exported="false" />
        <activity
            android:name=".supplier.kelolaSupplier"
            android:exported="false" />
        <activity
            android:name=".supplier.supplier"
            android:exported="false" />
        <activity
            android:name=".laporan.penjualan.invoice"
            android:exported="false" />
        <activity
            android:name=".laporan.pembelian.invoiceSup"
            android:exported="false" />
        <activity
            android:name=".pembelian.kelolaPembelian"
            android:exported="false" />
        <activity
            android:name=".laporan.penjualan.laporanPenjualan"
            android:exported="false" />
        <activity
            android:name=".pembelian.pembelian"
            android:exported="false" />
        <activity
            android:name=".penjualan.riwayat.detailRiwayat"
            android:exported="false" />
        <activity
            android:name=".laporan.produk.laporanProduk"
            android:exported="false" />
        <activity
            android:name=".laporan.ringkasan.ringkasan"
            android:exported="false" />
        <activity
            android:name=".penjualan.keranjang.kelolaKeranjang"
            android:exported="false"
            android:noHistory="true" />
        <activity
            android:name=".menu.profile"
            android:exported="false" />
        <activity
            android:name=".menu.aboutMe"
            android:exported="false" />
        <activity
            android:name=".penjualan.pengaturan"
            android:exported="false" />
        <activity
            android:name=".penjualan.riwayat.riwayatTransaksi"
            android:exported="false"
            android:noHistory="true" />
        <activity
            android:name=".penjualan.penjualan.transaksiBerhasil"
            android:exported="false" />
        <activity
            android:name=".laporan.laporan"
            android:exported="false" />
        <activity
            android:name=".pegawai.kelolaPegawai"
            android:exported="false"
            android:noHistory="false" />
        <activity
            android:name=".penjualan.pembayaran.pembayaran"
            android:exported="false" />
        <activity
            android:name=".penjualan.penjualan.scanBarcodeTambahTransaksi"
            android:exported="false" />
        <activity
            android:name=".penjualan.penjualan.penjualan"
            android:exported="false" />
        <activity
            android:name=".pegawai.pegawai"
            android:exported="false"
            android:noHistory="true" />
        <activity
            android:name=".produk.produk.kelolaProduk"
            android:exported="false"
            android:noHistory="false" />
        <activity
            android:name=".produk.viewpager.viewPagerMenu"
            android:exported="false"
            android:noHistory="false" />
        <activity
            android:name=".laporan.pegawai.laporanPegawai"
            android:exported="false" />
        <activity
            android:name=".laporan.kategori.laporanKategori"
            android:exported="false" />
        <activity
            android:name=".laporan.rangkuman.laporanRangkuman"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/network_security_config" />

        <activity
            android:name=".produk.scanBarcodeTambahProduk"
            android:exported="false" />
        <activity
            android:name=".menu.login"
            android:exported="false" />
        <activity
            android:name=".menu.dashboard"
            android:exported="false" />
        <activity
            android:name=".menu.loadingScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-1892278661027871~2238724297" />
    </application>

</manifest>